<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hidialect.hidialect_ws.dao.IMusicsDao">
    <resultMap id="BaseResultMap" type="com.hidialect.hidialect_ws.entity.Musics">
    </resultMap>
    <select id="getByVdoId" resultMap="BaseResultMap">
        SELECT * from musics where VdoId=#{VdoId} and mscType=1
    </select>
    <select id="getByMscId" resultMap="BaseResultMap">
        SELECT * from musics where mscId=#{mscId}
    </select>
    <select id="searchMusicByName" resultMap="BaseResultMap">
        SELECT * from musics where mscNa=#{mscNa}
    </select>
    <select id="searchMusicByType" resultMap="BaseResultMap">
        SELECT * from musics where bgmType=#{bgmType}
    </select>
</mapper>