<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hidialect.hidialect_ws.dao.ICommentsDao">
    <resultMap id="BaseResultMap" type="com.hidialect.hidialect_ws.entity.Comments">
    </resultMap>

    <select id="viewComment" resultMap="BaseResultMap" parameterType="com.hidialect.hidialect_ws.entity.Activities">
        SELECT cmtId, vdoId, users.userNo as userNo, users.userNa as userNa, users.userImg as userImg, content, comments.createTime as createTime from
		  comments LEFT JOIN users ON comments.userNo=users.userNo
		  WHERE vdoId = #{vdoId}
    </select>

    <select id="getCom" resultMap="BaseResultMap" parameterType="com.hidialect.hidialect_ws.entity.Activities">
        SELECT * from comments WHERE cmtId = #{cmtId} LIMIT 0, 1
    </select>

    <delete id="viewComment" parameterType="com.hidialect.hidialect_ws.entity.Activities">
        DELETE FROM comments WHERE cmtId=#{cmtId}
    </delete>

    <insert id="addComment" parameterType="com.hidialect.hidialect_ws.entity.Words">
        insert into comments (vdoId, userNo, content)
        values (#{vdoId},#{userNo},#{content})
    </insert>

</mapper>