<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hidialect.hidialect_ws.dao.ILabelsDao">
    <resultMap id="BaseResultMap" type="com.hidialect.hidialect_ws.entity.Labels">
    </resultMap>

    <select id="getLabelsByVdoId" resultMap="BaseResultMap" parameterType="com.hidialect.hidialect_ws.entity.Labels">
        SELECT labels.labelId as labelId, labels.labelNa as labelNa, labels.createTime as createTime FROM
          videolabel LEFT JOIN labels ON videolabel.labelId=labels.labelId
          WHERE videolabel.vdoId=#{vdoId}
    </select>

</mapper>