<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hidialect.hidialect_ws.dao.IUserLabelDao">
    <resultMap id="BaseResultMap" type="com.hidialect.hidialect_ws.entity.UserLabel">
    </resultMap>
    <insert id="addUserLabel" parameterType="com.hidialect.hidialect_ws.entity.UserLabel">
        insert into userlabel (userNo,labelId)
        values (#{userNo},#{labelId})
    </insert>
</mapper>