<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hidialect.hidialect_ws.dao.IVideosDao">
    <resultMap id="BaseResultMap" type="com.hidialect.hidialect_ws.entity.Videos">
    </resultMap>

    <select id="getLikeVdoByUserNo" resultMap="BaseResultMap" parameterType="String">
        SELECT videos.vdoId as vdoId, vdoNa, users.userNo as userNo, vdoPath, vdoImg, vdoRemark, likeNum, dislikeNum, watchNum, videos.createTime as createTime, isPublic, userNa, userImg from
          userislike LEFT JOIN videos LEFT JOIN users ON videos.userNo=users.userNo ON userislike.vdoId = videos.vdoId
          WHERE userislike.userNo=#{userNo} AND isLike=1
    </select>
    <select id="getMadeByUserNo" resultMap="BaseResultMap" parameterType="String">
        SELECT videos.vdoId as vdoId, vdoNa, users.userNo as userNo, vdoPath, vdoImg, vdoRemark, likeNum, dislikeNum, watchNum, videos.createTime as createTime, isPublic, userNa, userImg from
          videos LEFT JOIN users ON videos.userNo=users.userNo
          WHERE videos.userNo=#{userNo}
    </select>
    <select id="getWordsByVdoId" resultMap="BaseResultMap" parameterType="String">
        SELECT videos.vdoId as vdoId, vdoNa, users.userNo as userNo, vdoPath, vdoImg, vdoRemark, likeNum, dislikeNum, watchNum, videos.createTime as createTime, isPublic, userNa, userImg from
          videos LEFT JOIN users ON videos.userNo=users.userNo
          WHERE vdoRemark like #{searchWords} AND (vdoType=#{vdoType} OR #{vdoType}='')
    </select>
    <select id="viewVdoByActId" resultMap="BaseResultMap" parameterType="String">
        SELECT videos.vdoId as vdoId, vdoNa, users.userNo as userNo, vdoPath, vdoImg, vdoRemark, likeNum, dislikeNum, watchNum, videos.createTime as createTime, isPublic, userNa, userImg from
          videoactivity LEFT JOIN videos LEFT JOIN users ON videos.userNo=users.userNo ON videoactivity.vdoId=videos.vdoId
          WHERE videoactivity.actId=#{actId}
    </select>

    <delete id="viewVdoByActId" parameterType="String">
        DELETE FROM videos WHERE vdoId=#{vdoId}
    </delete>
</mapper>